{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel = 'stylesheet' href = "{% static 'css/search.css' %}">
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block title %}<title>Дом в миг - Любимые</title>{% endblock %}


{% for i in favorites %}
            {% if i.property.get_preview_photo != None %}
                <img width="150px" src="{{ i.property.get_preview_photo }}">
            {% endif %}
            <h2>{{i.property.title}}</h2>
            <p>{{i.property.description}}</p>
            <a href="{{ i.property.get_absolute_url }}">more</a>
            <hr>
        {% endfor %}

{% block content %}

<section class="section-results-container">
    {% if favorites|length == 0 %}
                    <h2 class="section-results-container-gray">Вы пока что ничего не отметили как Избранное<br></h2>
                {% endif %}
    {% for i in favorites %}
    <div class="result-container">
    <div class="row">
        <div class="col-md-4">
          <!-- Левая часть -->
          <div class="">
            {% if i.property.get_preview_photo != None %}
                <img width="400px" src="{{ i.property.get_preview_photo }}">
            {% endif %}
          </div>
        </div>
        <div class="col-md-5">
          <!-- Средняя часть -->
          <div class="menu">
            <h4>{{i.property.num_rooms}}-комн., {{i.property.area|floatformat}}м² {{i.property.property_type}}</h4>
            <h5>{{i.property.title}}</h5>
            <hr>
            <p>Описание:<p>
            <p>{{ i.property.description|slice:":150" }}{% if i.property.description|length > 150 %}...{% endif %}</p>
            <a href="{{ i.property.get_absolute_url }}">more</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <h4>{{ i.property.rent_cost|floatformat }}₸ / 
                {% if i.property.rent_type == 1 %}
                    час
                {% elif i.property.rent_type == 2 %}
                    сутки
                {% elif i.property.rent_type == 3 %}
                    месяц
                {% endif %}
            </h4>
            <h5>г.{{i.property.district_location}},{{i.property.address}}</h5>
            <div class="container mt-5 ">
                <div class="row">
                    <!-- Левая кнопка с сердечком -->
                    <div class="col violet">
                        {% if request.user.is_authenticated and i.property.owner != user %}
                            <form action="{{ current_url }}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="current_url" value="{{ current_url }}">
                                <input type="hidden" name="prop_id" value="{{ i.property.pk }}">
                                {% if i.property.pk in liked  %}
                                    <input type="hidden" name="form_submit" value="unlike">
                                {% else %}
                                    <input type="hidden" name="form_submit" value="like">
                                {% endif %}
                                <button type="submit" class="btn btn-light like-btn btn-block">
                                    {% if i.property.pk in liked  %} <i id="heartIcon" class="fas fa-heart"></i> Unlike 
                                    {% else %} <i id="heartIcon" class="far fa-heart"></i> Like {% endif %}
                                </button>
                            </form>
                        {% endif %}
                    </div>
                                            
                    <!-- Вторая пустая кнопка -->
                    <div class="col">
                        <button type="button" class="btn btn-secondary btn-block">
                            {{i.property.owner}}
                        </button>
                    </div>
                </div>
            
                <!-- Одна большая кнопка -->
                <div class="row mt-3">
                    <div class="col">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h6>Просмотры: {{i.property.views}}</h6>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
    </div>
    </div>
    {% endfor%}
    {% if page_obj.has_other_pages %}
        <ul>
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li>{{ i }}</li>
            {% elif i == 1 %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2  %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% elif i == page_obj.number|add:3 %}
                <li>...</li>
            {% elif i == page_obj.number|add:-3 %}
                <li>...</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</section>
<script>
    function toggleLike() {
        var formSubmitInput = document.getElementById('form_submit');
        var heartIcon = document.getElementById('heartIcon');
        var likeForm = document.getElementById('likeForm');

        if (formSubmitInput.value === 'like') {
            formSubmitInput.value = 'unlike';
            heartIcon.classList.remove('far');
            heartIcon.classList.add('fas', 'text-danger');
            likeForm.classList.add('like-btn-active');
        } else {
            formSubmitInput.value = 'like';
            heartIcon.classList.remove('fas', 'text-danger');
            heartIcon.classList.add('far');
            likeForm.classList.remove('like-btn-active');
        }

        likeForm.submit();
    }
</script>
{% endblock %}
