{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Дом в миг - изменение фото</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<section class="container py-5">
    <h2 class="mb-4">Изменение фотографий объявления</h2>

    <!-- Форма для добавления фотографии в начало списка -->
    <form method="post" action="{% url 'landlord_update_photos' property_id=post.pk %}" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <input type="file" name="new_photo_image" accept="image/*" required class="form-control">
        <button type="submit" name="add_first_photo" value="{{ 0 }}" class="btn btn-primary mt-2">Добавить фото в начало</button>
    </form>

    <div class="row">
        {% for photo in post.get_photos %}
        <div class="col-md-4 mb-4 position-relative">
            <img class="img-fluid" src="{{ photo }}">
            <div class="position-absolute top-50 start-50 translate-middle bg-white  p-2" style="transform: translate(50%, -100%);">
                <p class="text-center mb-0">{{ forloop.counter }}</p>
            </div>

            <!-- Форма для удаления фотографии -->
            <form method="post" action="{% url 'landlord_update_photos' property_id=post.pk %}" enctype="multipart/form-data" class="mt-2">
                {% csrf_token %}
                <button type="submit" name="remove_photo" value="{{ photo.id }}" class="btn btn-danger">Убрать фото</button>
            </form>

            <!-- Форма для добавления фотографии после текущей -->
            <form method="post" action="{% url 'landlord_update_photos' property_id=post.pk %}" enctype="multipart/form-data" class="mt-2">
                {% csrf_token %}
                <input type="file" name="new_photo_image" accept="image/*" required class="form-control">
                <button type="submit" name="add_photo" value="{{ photo.id }}" class="btn btn-primary mt-2">Добавить фото после</button>
            </form>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
