{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Дом в миг - login</title>{% endblock %}

{% block css %}<link rel = 'stylesheet' href = "{% static 'css/gg.css' %}">{% endblock %}

{% block content %}
<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center">Войти</h2>
                    <p class="text-center">Введите свои данные для входа.</p>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group row">
                                <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                                <div class="col-sm-9">
                                    {{ field }}
                                    <div class="invalid-feedback d-block">{{ field.errors }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
