{% extends 'base.html' %}

{% block title %}<title>Property Rental - Account page</title>{% endblock %}

{% load static %}
{% block css %}
    <link rel = 'stylesheet' href = "{% static 'css/search.css' %}">
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}
<div class="section-results-container">
{% for i in posts %}

            <h2>{{i.property.title}}</h2>
            <p>{{i.tenant.username}}</p>
            <p>{{i.start_date}}</p>
            <p>{{i.end_date_date}}</p>
            <hr>
        {% endfor%}
        {% if page_obj.has_other_pages %}
            <ul>
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li>{{ i }}</li>
                {% elif i == 1 %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2  %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% elif i == page_obj.number|add:3 %}
                    <li>...</li>
                {% elif i == page_obj.number|add:-3 %}
                    <li>...</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
</div>
{% endblock %}